.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-container {
  background-color: rgb(196, 184, 184);
  width: 25rem;
  height: 66rem;
  margin-top: 86px;
  padding: 2rem;
  border-radius: 8px;
}

#username,
#password,
#firstName,
#middleName,
#lastName,
#state,
#district,
#email,
#contact {
  width: 20rem;
}

#button {
  width: 6rem;
}
